In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
import requests
import json
import time

In [3]:
raw_data = pd.read_csv("game_data_public.STX.Sealed.csv")

In [6]:
raw_data.shape

(49381, 1388)

In [7]:
raw_data.head()

,user_win_rate_bucket,user_n_games_bucket,draft_id,build_index,draft_time,expansion,event_type,game_number,rank,opp_rank,...,sideboard_Waterfall Aerialist,sideboard_Weather the Storm,sideboard_Whirlwind Denial,sideboard_Witherbloom Apprentice,sideboard_Witherbloom Campus,sideboard_Witherbloom Command,sideboard_Witherbloom Pledgemage,sideboard_Wormhole Serpent,sideboard_Zephyr Boots,"sideboard_Zimone, Quandrix Prodigy"
0,0.00,1,19d851c33013406ab24112ced986b1b9,0,2021-04-20 06:33:09,STX,Sealed,1,NaN,NaN,...,0,0,0,0,3,0,1,0,0,0
1,0.00,1,19d851c33013406ab24112ced986b1b9,0,2021-04-20 06:33:09,STX,Sealed,1,NaN,NaN,...,0,0,0,0,3,0,1,0,0,0
2,0.62,5,17444d2b6e764adaa0786a9a1c792b7e,0,2021-04-15 15:47:47,STX,Sealed,1,NaN,NaN,...,0,0,0,0,0,0,1,1,0,1
3,0.62,5,17444d2b6e764adaa0786a9a1c792b7e,0,2021-04-15 15:47:47,STX,Sealed,1,NaN,NaN,...,0,0,0,0,0,0,1,1,0,1
4,0.62,5,17444d2b6e764adaa0786a9a1c792b7e,0,2021-04-15 15:47:47,STX,Sealed,1,NaN,NaN,...,0,0,0,0,0,0,1,1,0,1

In [8]:
raw_data.columns[:20]

Index(['user_win_rate_bucket', 'user_n_games_bucket', 'draft_id',
       'build_index', 'draft_time', 'expansion', 'event_type', 'game_number',
       'rank', 'opp_rank', 'on_play', 'num_mulligans', 'opp_num_mulligans',
       'opp_colors', 'num_turns', 'won', 'opening_hand_Abundant Harvest',
       'opening_hand_Academic Dispute', 'opening_hand_Academic Probation',
       'opening_hand_Access Tunnel'],
      dtype='object')

In [9]:
card_names = [col_name.replace('deck_', '') for col_name in raw_data.columns if col_name.startswith('deck_')]

In [10]:
card_names[:10]

['Abundant Harvest',
 'Academic Dispute',
 'Academic Probation',
 'Access Tunnel',
 'Accomplished Alchemist',
 'Adventurous Impulse',
 'Aether Helix',
 'Ageless Guardian',
 'Agonizing Remorse',
 'Approach of the Second Sun']

In [11]:
len(card_names) # should be 343 = 275 (Strixhaven) + 63 (Mystical Archive) + 5 (Basic Land)

343

In [18]:
card_details_list = []
for name in card_names:
    time.sleep(0.1)
    scryfall_result = requests.get(f"https://api.scryfall.com/cards/named?exact={name}").json()
    card_details = {}
    card_details['name'] = name
    card_details['rarity'] = scryfall_result['rarity']
    card_details['set'] = scryfall_result['set']
    if 'oracle_text' in scryfall_result and 'learn' in scryfall_result['oracle_text'].lower():
        card_details['is_learn'] = True 
    else:
        card_details['is_learn'] = False
    card_details_list.append(card_details)

In [12]:
card_details_df = pd.DataFrame.from_dict(card_details_list)

NameError: name 'card_details_list' is not defined

In [24]:
card_details_df.head(n=10)

   is_learn                        name    rarity  set
0     False            Abundant Harvest      rare  sta
1      True            Academic Dispute  uncommon  stx
2     False          Academic Probation      rare  stx
3     False               Access Tunnel  uncommon  stx
4     False      Accomplished Alchemist      rare  stx
5     False         Adventurous Impulse    common  iko
6     False                Aether Helix  uncommon  stx
7     False            Ageless Guardian    common  stx
8     False           Agonizing Remorse  uncommon  thb
9     False  Approach of the Second Sun      rare  akh

In [25]:
sum(card_details_df['is_learn'])

21

In [26]:
card_details_df.to_csv("card_details.csv", index=False)

In [13]:
card_details_df = pd.read_csv("card_details.csv")

In [14]:
deck_cards = pd.concat([raw_data['won'], raw_data.filter(like='deck_')], axis=1)

In [15]:
deck_cards.columns = deck_cards.columns.str.lstrip('deck_')

In [16]:
deck_cards['game_id'] = deck_cards.index

In [17]:
deck_cards = deck_cards.melt(id_vars=["won", "game_id"], var_name="name", value_name="count")

In [18]:
deck_cards

            won  game_id                      name  count
0         False        0          Abundant Harvest      0
1         False        1          Abundant Harvest      0
2          True        2          Abundant Harvest      0
3          True        3          Abundant Harvest      0
4         False        4          Abundant Harvest      0
5          True        5          Abundant Harvest      0
6          True        6          Abundant Harvest      0
7         False        7          Abundant Harvest      0
8          True        8          Abundant Harvest      0
9         False        9          Abundant Harvest      0
10        False       10          Abundant Harvest      0
11         True       11          Abundant Harvest      0
12        False       12          Abundant Harvest      0
13        False       13          Abundant Harvest      0
14         True       14          Abundant Harvest      0
15        False       15          Abundant Harvest      0
16        False       16          Abundant Harvest      0
17        False       17          Abundant Harvest      0
18         True       18          Abundant Harvest      0
19         True       19          Abundant Harvest      0
20        False       20          Abundant Harvest      0
21        False       21          Abundant Harvest      0
22        False       22          Abundant Harvest      0
23         True       23          Abundant Harvest      1
24         True       24          Abundant Harvest      1
25        False       25          Abundant Harvest      1
26        False       26          Abundant Harvest      1
27         True       27          Abundant Harvest      1
28         True       28          Abundant Harvest      1
29         True       29          Abundant Harvest      1
...         ...      ...                       ...    ...
16937653   True    49351  Zimone, Quandrix Prodigy      1
16937654   True    49352  Zimone, Quandrix Prodigy      1
16937655  False    49353  Zimone, Quandrix Prodigy      1
16937656   True    49354  Zimone, Quandrix Prodigy      1
16937657   True    49355  Zimone, Quandrix Prodigy      1
16937658  False    49356  Zimone, Quandrix Prodigy      1
16937659   True    49357  Zimone, Quandrix Prodigy      1
16937660  False    49358  Zimone, Quandrix Prodigy      1
16937661   True    49359  Zimone, Quandrix Prodigy      0
16937662   True    49360  Zimone, Quandrix Prodigy      0
16937663  False    49361  Zimone, Quandrix Prodigy      0
16937664   True    49362  Zimone, Quandrix Prodigy      0
16937665  False    49363  Zimone, Quandrix Prodigy      0
16937666   True    49364  Zimone, Quandrix Prodigy      0
16937667   True    49365  Zimone, Quandrix Prodigy      0
16937668   True    49366  Zimone, Quandrix Prodigy      0
16937669  False    49367  Zimone, Quandrix Prodigy      0
16937670   True    49368  Zimone, Quandrix Prodigy      0
16937671  False    49369  Zimone, Quandrix Prodigy      0
16937672   True    49370  Zimone, Quandrix Prodigy      0
16937673   True    49371  Zimone, Quandrix Prodigy      0
16937674   True    49372  Zimone, Quandrix Prodigy      0
16937675  False    49373  Zimone, Quandrix Prodigy      0
16937676  False    49374  Zimone, Quandrix Prodigy      0
16937677   True    49375  Zimone, Quandrix Prodigy      0
16937678  False    49376  Zimone, Quandrix Prodigy      0
16937679  False    49377  Zimone, Quandrix Prodigy      0
16937680   True    49378  Zimone, Quandrix Prodigy      0
16937681   True    49379  Zimone, Quandrix Prodigy      0
16937682  False    49380  Zimone, Quandrix Prodigy      0

[16937683 rows x 4 columns]

In [19]:
analysis_df = deck_cards.merge(card_details_df)

In [40]:
learn = analysis_df[analysis_df["is_learn"]]
learn_stats = learn.groupby("game_id").agg({"count": np.sum, "won": np.mean})
learn_stats.groupby("count").agg(["mean", "count"])

            won
           mean  count
count
0      0.485794   1795
1      0.506946   6766
2      0.537850  12457
3      0.561352  12958
4      0.567903   8792
5      0.590592   4294
6      0.596459   1638
7      0.616601    506
8      0.598684    152
9      0.739130     23

In [42]:
rares = analysis_df[(analysis_df["rarity"] == "rare") | (analysis_df["rarity"] == "mythic")]
rares_stats = rares.groupby("game_id").agg({"count": np.sum, "won": np.mean})
rares_stats.groupby("count").agg(["mean", "count"])

            won
           mean  count
count
0      0.506897    580
1      0.513736   4004
2      0.540568  10846
3      0.548232  15156
4      0.568838  12188
5      0.560077   5185
6      0.596437   1291
7      0.553846    130
9      0.000000      1